@use "@/styles/utils/rem-calc" as *;
@use "@/styles/settings/variables" as *;

.snackbar {
  position: fixed;
  left: rem-calc(12);
  bottom: rem-calc(12);
  transition: all $animation-duration-slow ease-in-out;

  font-size: rem-calc(16);
  font-weight: 600;

  padding: rem-calc(28) rem-calc(18);
  border-radius: rem-calc(8);
  box-shadow: $box-shadow;

  display: none;
  flex-direction: row;
  align-items: center;
  gap: rem-calc(12);
  cursor: pointer;

  img {
    width: rem-calc(28);
  }
}

.snackbar_open {
  display: flex;
}

.success {
  background-color: $light-green;
  color: $green;

  img {
    color: $green;
  }
}

.error {
  background-color: $light-red;
  color: $red;

  img {
    color: $green;
  }
}
