@use "sass:map";

// Colors
$black: #010101;
$white: #f8f8f8;
$grey: #ededed;
$primary: #2572bd;
$light-blue: #6da3d8;
$yellow: #ffc300;
$light-red: #ffa77d;
$red: #c33f00;
$green: #00ae71;
$light-green: #c8f2e3;

// Fonts
$primary-font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;

// Animations
$animation-duration-slow: 450ms;
$animation-duration-normal: 225ms;
$animation-duration-fast: 150ms;

//Shadows
$box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

// Breakpoints and sizes
$breakpoints: (
  xs: 375px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
$max-width: map.get($breakpoints, "xl");
